.container {
  display: flex;
  width: 65px;
  height: 65px;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: 0;
  background-color: transparent;
  border-radius: 50%;
  color: var(--white);
  transition: all .3s ease;
}

.white {
  background-color: var(--white);
  color: var(--blue);
}

.white:hover.container:hover {
  background-color: var(--white);
  opacity: .65;
}

.container:hover {
  background-color: var(--mateBlue);
}

.container:active {
  transform: scale(1.075);
}

.font {
  font-family: 'Inter', sans-serif;
  font-size: 40px;
  line-height: 40px;
}
