.container {
  display: grid;
  width: 90%;
  box-sizing: border-box;
  justify-content: center;
  padding-top: 20px;
  border-top: 2px solid var(--gray);
  margin: 0 20px 20px 20px;
  column-gap: 35px;
  grid-template-columns: repeat(4, max-content);
  grid-template-rows: repeat(5, max-content);
  row-gap: 10px;
}
