.container {
  display: grid;
  width: 90%;
  height: 95%;
  margin: auto;
  background: rgb(2, 0, 36);
  background: linear-gradient(173deg, rgba(2, 0, 36, 1) 0%, rgba(41, 82, 144, 1) 0%, rgba(55, 112, 196, 1) 100%);
  border-radius: 15px;
  box-shadow: 2px 5px 16px 0 rgba(0, 0, 0, .7);
  grid-template-columns: 100%;
  grid-template-rows: 1fr 2fr;
}
